<div class="container is-widescreen">
    <div class="tile is-ancestor">
    <div class="tile is-vertical is-12">
      <div class="tile">
          <div class="tile is-parent">
            <article class="tile is-child notification is-success">
              <p class="title">Garden Goodies</p>
            </article>
          </div>
        </div>
      </div>
    </div>
    </div>
<p class="mx-6">Search our plant database by name:</p>
<section>
    <div class="field is-grouped mx-6 mb-6">
        <p class="control">
            <input class="input" [(ngModel)]="searchQuery" type="text" placeholder="Find a plant">
        </p>
        <p class="control">
            <button class="button is-success" (click)="searchPlants()">
                Search
            </button>
        </p>
    </div>
    <div *ngIf="searchResults.length > 0">
        <table class="table is-fullwidth is-hoverable mx-5">
            <thead>
            <tr>
                <th>Common Name</th>
                <th>Scientific Name</th>
                <th>Add</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let result of searchResults">
                <td>{{ result.name }}</td>
                <td>{{ result.scientificName }}</td>
                <td><button class="button is-small is-success" (click)="addToGarden(result)">+</button></td>
            </tr>
            </tbody>
        </table>
    </div>
    <div>
        <table class="table is-fullwidth is-hoverable mx-5">
            <thead>
            <tr>
                <th>Common Name</th>
                <th>Scientific Name</th>
                <th>Planted</th>
                <th>Harvested</th>
                <th>Notes</th>
                <th>Remove</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let plant of myGarden">
                <td>{{ plant.name }}</td>
                <td>{{ plant.scientificName }}</td>
                <td><input class="input is-small" type="date" [(ngModel)]="plant.planted"></td>
                <td><input class="input is-small" type="date" [(ngModel)]="plant.harvested"></td>
                <td><input class="input is-small" type="text" [(ngModel)]="plant.notes"></td>
                <td><button class="button is-small is-danger" (click)="removeFromGarden(plant)">-</button></td>
            </tr>
            </tbody>
        </table>
    </div>
</section>
