<!DOCTYPE html>
<head>
  <title>Plant Details </title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
</head>

<body>
  <h1>Plant Details </h1>
  <form action="/" method="post">
    <input type="text" name="plant" placeholder="Enter a plant name" required />
    <input type="submit" value="Get information" />
  </form>
  {% if result %}
  <div class="result">
    <h2>Information about: {{ request.form['plant'] }}</h2>


    <table>
      <tr>
        <th>Property</th>
        <th>Value</th>
      </tr>
      {% for line in result.split("\n") %}
      {% set parts = line.split(":") %}
      <tr>
        <td>{{ parts[0] }}</td>
        <td>{{ parts[1] }}</td>
      </tr>
      {% endfor %}
    </table>
  </div>
  {% endif %}
</body>
